*{
    font-family: Arial, sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}

#about-store-div {
    position:fixed;
    top: 0;
    left: 0;
    padding-top: 20px;

}

.about-store {
    padding: 12px;
    font-size: 14px;
    color: black;
}

#user-links-div {
    position:fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    margin-right: 5px;
}

.user-links {
    padding: 12px;
    font-size: 12px;
    color: black;
}

#google-account {
    color: white;
    background-color: #4285f4;
    font-weight: bold;

}

#body-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
}

#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-top: 180px;
}

#form-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 833px;
}

#search {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 480px;
}

.submit-button {
    margin-top: 3%;
    background-color: #f8f9fa;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:flex-end;
    font-size: 14px;
}

#business-div {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-left: 20px;
}

.business-links {
    padding: 12px;
}

#settings-div {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}

.settings-links {
    padding: 12px;
}